# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# -------------------------
# IDE / Editor
# -------------------------
.idea/
.vscode/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Database
# -------------------------
*.db
*.sqlite3

# -------------------------
# Kivy
# -------------------------
.kivy/

# -------------------------
# Android / Buildozer
# -------------------------
.buildozer/
bin/
.gradle/

# APKs temporales
*.apk
*.aab

# -------------------------
# Build files
# -------------------------
build/
dist/

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db